---
const links = [
  { href: '/', text: 'Listado' },
  { href: '/pokemons/1', text: 'Paginado' },
  { href: '/favorites', text: 'Favoritos' },
  { href: '/islands', text: 'Islas' },
];
const currentPath = Astro.url.pathname;
---

<nav class="shadow bg-slate-900">
  <div class="container flex items-center justify-center p-6 mx-auto text-gray-600 capitalize dark:text-gray-300">
    <!-- {
      links.map((l) => (
        <a
          href={l.href}
          class:list={[
            'text-gray-800 dark:text-gray-200 mx-1.5 sm:mx-6',
            //
            { 'border-b-2 border-blue-500': l.href === currentPath },
          ]}>
          {l.text}
        </a>
      ))
    } -->
    {
      links.map((l) => (
        <div>
          <a href={l.href} class="link">
            {l.text}
          </a>
          <!-- Este ternario se crea para evitar el salto al hacer clic -->
          {currentPath === l.href ? (
            <div class="active-link" transition:name="menu-line" />
          ) : (
            <div class="no-active-link" />
          )}
        </div>
      ))
    }
  </div>
</nav>

<style>
  .link {
    @apply text-gray-800 dark:text-gray-200 mx-1.5 sm:mx-6;
  }
  .active-link {
    @apply border-b-2 border-blue-500 mx-4;
  }
  .no-active-link {
    @apply border-b-2 border-transparent;
  }
</style>

<!-- class="text-gray-800 dark:text-gray-200 border-b-2 border-blue-500 mx-1.5 sm:mx-6" -->
